<div>
    <app-header></app-header>
  </div>
  <div class="d-flex justify-content-center windows-name bg-gris text-black">
    Conversacion con Usuario
  </div>  
  
  <div class="with-margin-top">
      <div *ngFor="let mensaje of Mensajes" >
        <p style="margin-left: 2%; margin-right: 2%;">Usuario dice: {{mensaje.mensaje}}</p>
    </div>
</div>
<form>    
    <div class="form-group" style="position: fixed; bottom: 30px; width: 100%">
        <mat-grid-list cols="10" rowHeight="50px">
            <mat-grid-tile class="white-tile" colspan="9" browspan="1">
                <input type="text" class="form-control" name="titulo"
                id="exampleInputEmail1" aria-describedby="emailHelp"
                [(ngModel)]="mensajeNuevo" placeholder="Escriba su mensaje...">               
            </mat-grid-tile>
            <mat-grid-tile class="white-tile" colspan="1" browspan="1">
                <img src="/assets/enviar.png" height="30px;" width="30px;" (click)="enviarMensaje()">
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</form>    
  
<footer class="main-footer">
      <div class="d-flex justify-content-center bg-azul text-white">
      </div>
</footer>