<div>
  <app-header></app-header>
</div>
<div class="container-fluid with-margin-top">
 
    <div class="row my-auto alto-50">
      <div class="col-12  text-center d-flex align-items-center">
            <button type="button" class="btn btn-success btn-lg  h-75 w-75 mx-auto my-5" routerLink="/necesidadescercanas">Quiero Donar</button>
      </div>
    </div>
  
    <div class="row my-auto alto-50">
      <div class="col-12 text-center d-flex align-items-center">
            <button type="button" class="btn btn-primary btn-lg  h-75 w-75 mx-auto my-5" routerLink="/donacionescercanas">Necesito Algo</button>
      </div>
    </div>
</div>