
<header id="main-header" class="fixed-top">
    <div class="d-flex justify-content-between text-white bg-azul">
        <img [src]=fotoFullName [matMenuTriggerFor]="appMenu" height="45px;" width="45px;" style="object-fit: cover; margin: 3px 3px 3px 3px; border-radius: 50%;">
        <img src="/assets/Logo.png" routerLink="/principal" height="50px;" width="250px;" style="margin: 1px 1px 1px 1px; object-fit: cover;"/>        
        <img src="/assets/Nomensajes.png"  routerLink="/notificaciones" height="35px;" width="46px;" style="margin: 5px 5px 5px 5px"/>
    </div>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/misdonaciones"> Mis Donaciones </button>
        <button mat-menu-item routerLink="/misnecesidades"> Mis Necesidades </button>
        <button mat-menu-item routerLink="/missolicitudes"> Mis Solicitudes </button>
        <button mat-menu-item routerLink="/solicitudesrecibidas"> Solicitudes Recibidas </button>
        <button mat-menu-item routerLink="/ofrecimientosrecibidos"> Ofrecimientos Recibidos </button>
        <button mat-menu-item routerLink="/perfil"> Editar Perfil </button>
        <button mat-menu-item routerLink="/"> Cerrar Sesión </button>
    </mat-menu>
</header>   